*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   z-index: index;
}
.quesPaper {
    margin: auto;
    max-height: 450px;
    max-width: 40rem;
    text-align: center;
    border: 3px solid black;
    
    background-color: rgb(202, 221, 135);
    color: rgb(19, 18, 16);
    z-index: 20;
   display: none;
}
#startContest{
    margin: auto;
    border: 2.5px dotted black;
    text-align: center;
}
table{
    

    
    margin: auto;
    text-align: center;
    
}
button{
    min-height: 40px;
    min-width: 120px;
    text-align: center;
    
    
} 
td,tr{
    
    padding: 5px;
    text-align: center;
}